.projects-wrapper{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.projects-wrapper h2{
    font-size:2em
}

section h1{
    color:rgb(138, 138, 138);
    margin-top:20px;
}

section{
padding:40px
}

/*cards */
.card{
    width:400px;
    border:1px solid rgba(39, 39, 39, 0.603);
    margin:5px;
    box-shadow: 1px 1px 3px 0.5px black;
    border-radius: 25px;
    transition:0.3s; 
    background-color: rgb(240, 240, 240)
}


.video-logos{
  height:500px
}

video{
    width:90%;
    border-radius: 6px
}


/* logos */
.logos img {
    width:55px;
    margin:10px
}

.links{
    display:flex;
    margin-top:20px;
    justify-content: center;
    align-items: center
}

.links a{
    border:2px outset transparent;
    text-decoration: none;
    margin:5px;
    padding:8px;
    background-color: rgb(243, 242, 242);
    box-shadow: 0.5px 1px 3px 1px #000;
    color:#000;
    border-radius: 4px;
    transition: 0.3s;
    font-weight: bold
}

#demo{
    border:1px solid rgb(0, 0, 0)
}

.links a:hover{
   background-color: rgb(0, 0, 0);
   transition: 0.3s;
   color:#fff
}



@media (max-width:500px){
    .card h2{
       font-size:12px
    }
    .card h3{
        font-size:8px;
        margin-top:-8px
     }
     .card img{
      width:20px
     }
     .card {
       width:210px
     }
     .links a{
     font-size:8px

    }
    section h1{
        margin-top:16px;
    }
    video{
        width:200px;
    }
    .video-logos{
        height:300px
    }
}